{% extends "base.html.twig" %}

{% block title %}
    {{ trick.name }}
{% endblock %}

{% block banner_title %}
    {{ trick.name }}
{% endblock %}

{% block tools %}
    {% if is_granted('ROLE_USER') %}
        <a class="btn btn-default no-shaddow" href="{{ path('app_trick_edit',{'id': trick.id}) }}"><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="btn btn-default no-shaddow" href="{{ path('app_trick_delete',{'id': trick.id}) }}"><i class="glyphicon glyphicon-trash"></i></a>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="medias" class="row">
        {% for picture in trick.pictures %}
            <div class="col-md-2 thumbnail">
                <img src="{{ asset(trick.getPicturePath ~ picture.file) }}" width="100%"/>
            </div>
        {% endfor %}
        {% for video in trick.videos %}
        <div class="col-md-2 thumbnail">
           <div class="embed-responsive embed-responsive-16by9">
                {{ video.url|raw }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="DisplayMedias" class="row text-center">
        <button type="button" class="btn btn-primary" onclick="display_medias()">Afficher les médias</button>
    </div>
    <div id="HideMedias" class="row text-center">
        <button type="button" class="btn btn-primary" onclick="hide_medias()">Masquer les médias</button>
    </div>
    {% if trick.description %}
    <div class="row description col-md-offset-2 col-md-8">
        <h3>Description :</h3>
        {{ trick.description }}
    </div>
    {% endif %}
    <div class="row tags text-center col-md-offset-3 col-md-6">
        <div>
            Groupe : {{ trick.trickGroup.name }}
        </div>
        <div>
            Date de création: {{ trick.createdDate|date("d/m/Y") }}
        </div>
    </div>
    {% if is_granted('ROLE_USER') %}
    <div class="row col-md-offset-2 col-md-8">
        <h3>Poster un commentaire</h3>
        {{ render(controller('App\\Controller\\CommentController::new', { 'trickId' : trick.id, 'userId' : app.user.id })) }}
    </div>
    {% endif %}
    <div id="comments" class="row col-md-offset-2 col-md-8">
        <h3>Commentaires :</h3>

    </div>
    <div id="load_more" class="row col-md-12 text-center">
        <button type="button" class="btn btn-primary" onclick="load_more()">Charger plus</button>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
    var lastCommentId = 0;

    // On execute la fonction dès le chargement complet de la page
    $(document).ready(function(){
        load_more();
    });

    function load_more(){
        $.ajax({
            url: "{{ path('app_comment_loadmore') }}" + '/' + {{ trick.id }} + '-' + lastCommentId,
            cache: false,
            success: function(data){
                $('#comments').append(data);
            },
            error: function(){},
            complete: function(){}
        });
        lastCommentId = lastCommentId + 5;

        //Bouton masqué si il n'y a plus de commentaires à charger
        if (lastCommentId >= {{ totalComments }}) {
            $('#load_more').hide();
        }
    };

    // Fonctions pour afficher ou masquer les médias sur mobile
    function display_medias(){
        $("#medias").show();
        $("#HideMedias").show();
        $("#DisplayMedias").hide();
    }

    function hide_medias(){
        $("#medias").hide();
        $("#HideMedias").hide();
        $("#DisplayMedias").show();
    }
    </script>
{% endblock %}
